<% layout('layouts/boilerplate') %>

<div class="container mt-4">
  <h2 class="mb-4">Edit New Event</h2>

  <form action="/admin/editevent/<%=event._id%>?_method=PUT" method="POST" novalidate class="validated-form">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label" for="Title">Title:</label>
        <input class="form-control" type="text" id="Title" name="Title" value="<%=event.Title %>" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label" for="Image">Image URL:</label>
        <input class="form-control" type="text" id="Image" name="Image" value="<%=event.Image %>" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label" for="Date">Date:</label>
        <input class="form-control" type="text" id="Date" name="Date" value="<%=event.Date %>" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label" for="Year">Timing:</label>
        <input class="form-control" type="text" id="Timing" name="Timing" value="<%=event.Timing %>" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label" for="Year">Seats:</label>
        <input class="form-control" type="number" id="Seats" name="Seats" value="<%=event.Seats %>" required>
      </div>
    </div>


    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
